
.backgroundContainerOuter {
    position: absolute;
    width: 100vw;
    height: 130vmax;
    background-color: black;
    top: -10vw;
    clip: rect(auto auto auto auto);
}

.backgroundContainerInner {
    position: relative;
    width: 100vw;
    height: 100vmin;
}

.backgroundCenter {
    position: sticky;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vw;
}

.backgroundPlanet {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    animation-name: planetAnimation;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll();
}

.planetHorizon {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    animation-name: planetAnimation;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll();
}

.surfaceContainer {
    position: sticky;
    top: 0;
    animation-name: surfaceAnimation;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll();
    top: -10vw;
}

.surfaceHorizon {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    text-shadow: 0 0.2rem 0.1rem #000000dd;
    mix-blend-mode: soft-light;
}

.backgroundSurface {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    animation-name: surfaceAnimation;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll();
}

.rocket {
    position: absolute;
    animation-name: rocketAnimation;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll();
}

@keyframes planetAnimation {
    0% {
        opacity: 100%;
        top: 0;
    }

    50% {
        opacity: 0%;
        top: 10vw;
    }

    100% {
        opacity: 0%;
        top: 10vw;
    }
}

@keyframes rocketAnimation {
    0% {
        top: 10vw;
    }

    50% {
        top: -5vw;
    }

    100% {
        top: -5vw;
    }
}
